.testdiv{


	margin: 0 auto; 
	//border: 2px solid blue;
 	width:30px;
 	height:30px;
	//background: #454CFF;
	//color: #454CFF;
	//background-color:#cc0000;
}

button{
	width:30px;
height:30px;

	}
.red{
background-color:red;

}
.orange{

	background-color:orange;

}
.yellow{

	background-color:yellow;

}
.green{

	background-color:green;

}
.blue{

	background-color:blue;

}
.indigo{

	background-color:indigo;

}
.cyan{

	background-color:cyan;

}