.testdiv{


	margin: 0 auto; 
	
 	width: 120px;
	height: 120px;
	/*//border-radius: 100px;*/
	/*background: #454CFF;*/
/*	//color: #454CFF;*/
	/*background-color:#cc0000;*/
}
h2{
	left:50px;
	color:red;
}
button{


 /*margin: 0px auto;*/
	width: 50%;
	height: 50%;
    border-radius: 100%;
	border:2px solid #00A99D;
        background: #4D4D4D; 


	}
.red{
background-color:red;
 margin: 0px auto;
}
.orange{

	background-color:orange;

}
.yellow{

	background-color:yellow;

}
.green{

	background-color:green;

}
.blue{

	background-color:blue;

}
.indigo{

	background-color:indigo;

}
.cyan{

	background-color:cyan;

}
.magenta{

	background-color:magenta;

}
.brown{

	background-color:brown;

}
